<!DOCTYPE html>
<html>

<head>
<title>AI Resume Screening Tool</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>AI Resume Screening Tool</h1>
<p class="subtitle">Upload resumes and match them with job description using AI</p>

<form action="/upload" method="post" enctype="multipart/form-data">

<label>Job Description</label>
<textarea name="jd" placeholder="Paste job description here..."></textarea>

<label>Upload Resumes</label>
<input type="file" name="resumes" multiple>

<button type="submit">Screen Resumes</button>

</form>

</div>

</body>
</html>